<ion-view title="Dashboard">
  <ion-content class="has-header padding" scroll="true">
    <h1>Dash</h1>
    <h2>Take a Photo</h2>

    <button class="button button-block button-light" ng-click="takePicture()">
                <i class="icon ion-camera"></i>
                &nbsp;Capture Photo
            </button>
          	

<!--           	//download the canvas as PNG
	document.getElementById("download").addEventListener("click", function(){
		console.log('stuff happens');
		this.href= canvas.toDataURL("image/png");
		this.download = 'img.png';
	}); -->
  </ion-content>
</ion-view>
